body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .background {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.4)), url('../images/formulario.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .container-form {  
    width: 600px;
    background: #cdcdcd;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
  }

  .controls{
      width: 200px;
      background: #cdcdcd;
      padding: 10px;
      border-radius: 15px;
      margin-bottom: 16px;
      font-family: 'calibri';
      font-size: 18px;
  }

  .container-form h2 {
    text-align: center;
    margin-bottom: 30px; 
    font-family: 'Bebas Neue';
    font-size: 40px; 
  }

  .form-react {
    /* padding: 30px 20px;   */
    padding: 12px;
  }

  .form-control {    
    margin-bottom: 7px;
    padding-bottom: 20px;
    position: relative;
  }

  .form-control label {
    display: inline-block;
    margin-bottom: 7px;
    font:weight 200px;
  }

  .form-control input {
    border: none;
    background-color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 16px;
    /* padding: 12px; */
    width: 96%;    
  }

  .form-control, input:focus {
    outline: none;
  }

  .form-control select {
    border: none;
    background-color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 12px;
    width: 100%;   
  }

  .form-react button {
    background: #871616cd;
    border:1px solid #871616cd;
    border-radius: 20px;
    color: #f6f6e9;
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 18px;
    margin: auto;
    cursor: pointer;
  }

  .form-react p {
    font-size: 12px;
    padding: 20px;
    font-family: 'calibri';
    text-align: center;
    margin-top: 30px;
    color: gray;
  }


  .form-react button:hover {
    background-color: #a00c16;
  }

  .fail {
    color: #b21111;
  }

