.containerFlayer {
    width: 600px;
    height: 500px;
    background: rgba(217, 217, 217, 0.93);
    text-align: left;
    /* margin-right: 120px; */
}

.titleFlayer {
    color: black;
    text-align: left;
    margin-left: 90px;
    margin-top: 50px;
    font-size: 40px;
}

.textFlayer{
    height: 206px;
    width: 447px;
    line-height: 20px;
    font-size: 15px;
    font-family: 'Inter';
    text-align: left;
    color: black;
    margin-left: 90px;
}

.buttonFlayer {
    width: 200px;
    height: 50px;
    border: none;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: bolder;
    margin-left: 75px;
    cursor: pointer;
    
    background: #D36E6E;
    border-radius: 25px;
}

.buttonFlayer:hover {
    background: black;
    color: white;
}