@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200&family=Montserrat:wght@100&display=swap');

.container {
    position: relative;
    width: 232px;
    height: 232px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(circulo 2.jpg); */
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.mainContainer{
    position: relative;
}

.titleSection{
    /* position: absolute;
    width: 170px;
    height: 56px;
    left: 194px;
    top: 962px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}