.divHover{
    position: absolute;
    background: rgba(217, 217, 217, 0.93);
    color: black;
    width: 300px;
    height: 400px;
    /* left: 270px; */
    bottom: -90px;
    /* right: 270px; */
    z-index: 1;
    /* border-radius: 20px; */
}

.titleHover{
    color: #000;
    font-family: 'Bebas Neue';
    text-align: center;
}

.textHover {
    font-family: 'Inter';
    font-size: 15px;
    color: black;
    line-height: 20px;
    padding: 0px 20px 20px;
}

.triangulo{
    position: absolute;
    width: 0;
    height: 0;
    /* border-right: 20px solid rgba(217, 217, 217, 0.93); */
    /* border-left: 20px solid rgba(217, 217, 217, 0.93); */
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    /* right: 300px; */
    /* left: 300px; */
    bottom: 200px;
}